html {
  font-family: 'Rubik', sans-serif;
}

body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.header {
  display: flex;
  flex-direction: row;
}

.headshot {
  flex-shrink: 0;
  max-height: 16rem;
  max-width: 16rem;
}

.salut {
  margin: 0 0 0 20px;
  text-align: justify;
}

.salut p:first-child {
  margin-top: 0;
}
